<header><a href="https://www.vegpet.com.br/"><img src="https://d3ugyf2ht6aenh.cloudfront.net/stores/001/045/983/themes/common/logo-635245864-1596141278-9042560dd9ade1c0928dc9199d1ba19e1596141278-320-0.png?0" alt="vegpet: Seu pet e o planeta agradecem"></a></header>

<main>
    <section class="content">
        <div class="illustration-box">
            <h1 class="italic">“Ração vegana para uma vida de qualidade”</h1>
            <div>
                <img class="illustration1" src="../../assets/undraw_Nature_fun_re_iney.svg" alt="Imagem de pessoas no bosque">
                <img class="illustration2" src="../../assets/undraw_friends_r511.svg" alt="Mulher com seu gato">
            </div>            
        </div>
        <div class="cta-box">
            <button mat-raised-button color="primary" class="cta">Vem mudar a vida de seu pet com a gente!</button>
        </div>
        <div class="motto-box">
            <p class="motto">Oferecemos em nosso portfólio alimentos 100% vegetais, produtos cruelty free (não testados em animais), biodegradáveis e de qualidade premium (duram mais tempo).</p>
        </div>
    </section>
    <section class="banner">
        <div class="banner-container">
            <div class="banner-item">
                <div>
                    <img src="https://d2az8otjr0j19j.cloudfront.net/templates/001/045/983/twig/static/images/icone-parcele.png?850334672" alt="parcele">
                </div>
                <div>
                    <h3>PARCELE EM 3X</h3>
                    <p>Sem juros no cartão</p>
                </div>
            </div>
            <div class="banner-item">
                <div>
                    <img src="https://d2az8otjr0j19j.cloudfront.net/templates/001/045/983/twig/static/images/icone-whats.png?850334672" alt="whats">
                </div>
                <div>
                    <h3>FALE CONOSCO</h3>
                    <p>Whats: (11) 95329-1001</p>
                </div>
            </div>
            <div class="banner-item">
                <div>
                    <img src="https://d2az8otjr0j19j.cloudfront.net/templates/001/045/983/twig/static/images/icone-satisfacao.png?850334672" alt="satisfação">
                </div>
                <div>
                    <h3>SATISFAÇÃO 100%</h3>
                    <p>Ou seu dinheiro de volta</p>
                </div>
            </div>
            <div class="banner-item">
                <div>
                    <img src="https://d2az8otjr0j19j.cloudfront.net/templates/001/045/983/twig/static/images/icone-seguranca.png?850334672" alt="segurança">
                </div>
                <div>
                    <h3>CERTIFICADO SSL</h3>
                    <p>Sua compra segura</p>
                </div>
            </div>
        </div>        
    </section>
</main>