<app-landing></app-landing>
<footer>
  <div>
    <h4>Institucional</h4>
    <ul>
      <li>Sobre a Loja</li>
      <li>Onde Encontrar</li>
      <li>Fazemos Doações</li>
      <li>Estudo Proteína Vegetal</li>
      <li>Política de Privacidade</li>
      <li>Termos de Uso</li>
      <li>Devoluções</li>
      <li>Revenda e Distribuição</li>
    </ul>
  </div>
  <div>
    <h4>Categorias</h4>
    <ul>
      <li>Rações</li>
      <li>Gatos</li>
      <li>Petiscos</li>
      <li>Higiene</li>
      <li>Tratamento</li>
      <li>Acessórios</li>
      <li>Brinquedos</li>
      <li>Ofertas</li>
      <li>Cupons</li>
    </ul>
  </div>
</footer>